<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Packages" data-toc-modified-id="Packages-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Packages</a></span></li><li><span><a href="#Merging-main-files" data-toc-modified-id="Merging-main-files-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Merging main files</a></span></li><li><span><a href="#Loading-primers" data-toc-modified-id="Loading-primers-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Loading primers</a></span></li><li><span><a href="#DairyDB" data-toc-modified-id="DairyDB-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>DairyDB</a></span></li></ul></div>

## Packages

In [4]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import re

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## DairyDB

In [33]:
from processing.hvr_extraction import get_all_hvr
from loading.main_sequence_loading import main_loading

In [64]:
df = main_loading('DairyDB')

In [71]:
df

,index,sequence,sequence_size,kingdom,phylum,class,order,family,genus,species,initial_db
299499,299499,GATGAACGCTGGCGGCGCGCCTAACACATGCAAGTCGAACGATTAA...,1464,BACTERIA,ACTINOBACTERIA,CORIOBACTERIIA,CORIOBACTERIALES,CORIOBACTERIACEAE,SLACKIA,SLACKIA_HELIOTRINIREDUCEN,DairyDB
299500,299500,AGAGTTTGATCATGGCTCAGATTGAACGCTGGCGGCAGGCCTAATA...,1444,BACTERIA,PROTEOBACTERIA,GAMMAPROTEOBACTERIA,CELLVIBRIONALES,CELLVIBRIONACEAE,GILVIMARINUS,GILVIMARINUS_POLYSACCHAROLYTICU,DairyDB
299501,299501,AGAGTTTGATTATGGCTCAGGATGAACGCTAGCGGGAGGCTTAACA...,1477,BACTERIA,BACTEROIDETES,BACTEROIDIA,BACTEROIDALES,PROLIXIBACTERACEAE,DRACONIBACTERIUM,DRACONIBACTERIUM_SPECIE,DairyDB
299502,299502,GATGAACGCTAGCGGCAGGCCTAACACATGCAAGTCGAGGGGTAAC...,1468,BACTERIA,BACTEROIDETES,FLAVOBACTERIIA,FLAVOBACTERIALES,FLAVOBACTERIACEAE,YEOSUANA,YEOSUANA_AROMATIVORAN,DairyDB
299503,299503,AGAGTTTGATCCTGGCTCAGAGTGAACGCTGGCGGCGTGCTTAAGA...,1473,BACTERIA,PROTEOBACTERIA,DELTAPROTEOBACTERIA,SYNTROPHOBACTERALES,SYNTROPHACEAE,DESULFOMONILE,DESULFOMONILE_LIMIMARI,DairyDB
...,...,...,...,...,...,...,...,...,...,...,...
309883,309883,CCTGGCTCAGGATGAACGCTGGCGGCGTGCCAATACATGCAAGTCG...,1526,BACTERIA,FIRMICUTES,BACILLI,LACTOBACILLALES,LEUCONOSTOCACEAE,WEISSELLA,WEISSELLA_HELLENIC,DairyDB
309884,309884,AGAGTTTGATTNNGGCTCAGGATGAACGCTGGCGGCGTGCCTAATA...,1543,BACTERIA,FIRMICUTES,BACILLI,BACILLALES,STAPHYLOCOCCACEAE,STAPHYLOCOCCUS,STAPHYLOCOCCUS_HAEMOLYTICU,DairyDB
309885,309885,AGAGTTTGATNNTGGCTCAGGATGAACGCTGGCGGCGTGCCTAATA...,1543,BACTERIA,FIRMICUTES,BACILLI,BACILLALES,STAPHYLOCOCCACEAE,STAPHYLOCOCCUS,STAPHYLOCOCCUS_HOMINI,DairyDB
309886,309886,AACGCTGGCGGCGTGCCTAATACATGCAAGTCGAGCGAACAGACGA...,1469,BACTERIA,FIRMICUTES,BACILLI,BACILLALES,STAPHYLOCOCCACEAE,STAPHYLOCOCCUS,STAPHYLOCOCCUS_CAPRA,DairyDB
309887,309887,AGAGTTTGATNNTGGCTCAGGATGAACGCTGGCGGCGTGCCTAATA...,1542,BACTERIA,FIRMICUTES,BACILLI,BACILLALES,STAPHYLOCOCCACEAE,STAPHYLOCOCCUS,STAPHYLOCOCCUS_PISCIFERMENTAN,DairyDB

In [34]:
hvr_df = get_all_hvr(df)

In [83]:
hvr_df.loc[:, 'V1'].dropna()

0    GATTGAACGCTGGCGGCAGGCCTAATACATGCAAGTCGAGCGCGAA...
0    GGACGAACGCTGGCGGCATGCCTAATACATGCAAGTCGAACGAACT...
0    GGACGAACGCTGGCGGCGTGCTCCACACATGCAAGTCGAACGGAAA...
0    GGATGAACGCTGGCGGCGTGCCTAATACATGCAAGTCGAGCGAACA...
0    GGATGAACGCTGGCGGCGTGCCTAATACATGCAAGTCGAGCGAACG...
                           ...
0    GGATGAACGCTGGCGGCGTGCCTAATACATGCAAGTCGAGCGAACA...
0    GGATGAACACTGGCGGCGTGCCTAATACATGCAAGTCGAGCGAACA...
0    GGATGAACGCTGGCGGCGTGCCTAATACATGCAAGTCGAGCGAACA...
0    GGATGAACGCTGGCGGCGTGCCTAATACATGCAAGTCGAGCGAACA...
0    GGATGAACGCTGGCGGCGTGCCTAATACATGCAAGTCGAGCGAACA...
Name: V1, Length: 2372, dtype: object

In [43]:
from processing.hvr_statistics import main_stats

In [105]:
main_stats(df, hvr_df, sequence_origin='DairyDB', primers_origin='DairyDB')

-------------------------------------------------- GLOBAL INFORMATION --------------------------------------------------
Total number of observations: 10389
Average sequence size: 1446.56
Standard deviation: 67.53
Minimal size: 933
Maximal size: 2229
------------------------------------------------- TAROXOMY INFORMATION -------------------------------------------------
------------------------------------------------------- KINGDOM --------------------------------------------------------
Total number of unique kingdom: 2
Rank 1 in kingdom: BACTERIA with 10282 occurences
Rank 2 in kingdom: ARCHAEA with 107 occurences
0 missing values
-------------------------------------------------------- PHYLUM --------------------------------------------------------
Total number of unique phylum: 46
Rank 1 in phylum: FIRMICUTES with 3917 occurences
Rank 2 in phylum: PROTEOBACTERIA with 2310 occurences
Rank 3 in phylum: BACTEROIDETES with 1473 occurences
Rank 4 in phylum: ACTINOBACTERIA with 935 occurences
Rank 5 in phylum: CHLOROFLEXI with 256 occurences
0 missing values
-------------------------------------------------------- CLASS ---------------------------------------------------------
Total number of unique class: 133
Rank 1 in class: CLOSTRIDIA with 2774 occurences
Rank 2 in class: BACILLI with 844 occurences
Rank 3 in class: BACTEROIDIA with 755 occurences
Rank 4 in class: ALPHAPROTEOBACTERIA with 749 occurences
Rank 5 in class: GAMMAPROTEOBACTERIA with 716 occurences
0 missing values
-------------------------------------------------------- ORDER ---------------------------------------------------------
Total number of unique order: 244
Rank 1 in order: CLOSTRIDIALES with 2728 occurences
Rank 2 in order: BACTEROIDALES with 743 occurences
Rank 3 in order: BACILLALES with 446 occurences
Rank 4 in order: LACTOBACILLALES with 397 occurences
Rank 5 in order: RHIZOBIALES with 342 occurences
0 missing values
-------------------------------------------------------- FAMILY --------------------------------------------------------
Total number of unique family: 462
Rank 1 in family: RUMINOCOCCACEAE with 978 occurences
Rank 2 in family: LACHNOSPIRACEAE with 780 occurences
Rank 3 in family: PORPHYROMONADACEAE with 230 occurences
Rank 4 in family: CHRISTENSENELLACEAE with 219 occurences
Rank 5 in family: PREVOTELLACEAE with 214 occurences
0 missing values
-------------------------------------------------------- GENUS ---------------------------------------------------------
Total number of unique genus: 1754
Rank 1 in genus: RUMINOCOCCACEAE_GENUS with 354 occurences
Rank 2 in genus: CHRISTENSENELLACEAE_R-7_GROUP with 193 occurences
Rank 3 in genus: LACHNOSPIRACEAE_GENUS with 188 occurences
Rank 4 in genus: PREVOTELLA with 167 occurences
Rank 5 in genus: LACTOBACILLUS with 149 occurences
0 missing values
------------------------------------------------------- SPECIES --------------------------------------------------------
Total number of unique species: 4025
Rank 1 in species: RUMINOCOCCACEAE_SPECIE with 354 occurences
Rank 2 in species: CHRISTENSENELLACEAE_R-7_GROUP_SPECIE with 193 occurences
Rank 3 in species: LACHNOSPIRACEAE_SPECIE with 186 occurences
Rank 4 in species: ANAEROBACTERIUM_CHARTISOLVEN with 129 occurences
Rank 5 in species: SACCHARIBACTERIA_SPECIE with 108 occurences
0 missing values
-------------------------------------------------- GLOBAL INFORMATION --------------------------------------------------
Total number of sequence analyzed: 10389
Number of HyperVariable regions tested: 17
Number of found HVR: 66251 - 37.51% of total potential
Most represented HVR: V4 - 9500 occurences - 91.44% of potential
Less represented HVR: V8 - 0 occurences - 0.0% of potential
-------------------------------------- HYPERVARIABLE REGIONS SPECIFIC INFORMATION --------------------------------------
---------------------------------------------------------- V1 ----------------------------------------------------------
2372 found hvr - 22.83% of total potential
Average size of HVR: 75.87
Minimal size of HVR: 53
Maximal size of HVR: 192
---------------------------------------------------------- V2 ----------------------------------------------------------
6092 found hvr - 58.64% of total potential
Average size of HVR: 223.0
Minimal size of HVR: 194
Maximal size of HVR: 359
---------------------------------------------------------- V3 ----------------------------------------------------------
8665 found hvr - 83.41% of total potential
Average size of HVR: 149.61
Minimal size of HVR: 126
Maximal size of HVR: 248
---------------------------------------------------------- V4 ----------------------------------------------------------
9500 found hvr - 91.44% of total potential
Average size of HVR: 255.02
Minimal size of HVR: 246
Maximal size of HVR: 333
---------------------------------------------------------- V5 ----------------------------------------------------------
8801 found hvr - 84.71% of total potential
Average size of HVR: 109.61
Minimal size of HVR: 98
Maximal size of HVR: 182
---------------------------------------------------------- V6 ----------------------------------------------------------
8970 found hvr - 86.34% of total potential
Average size of HVR: 174.27
Minimal size of HVR: 21
Maximal size of HVR: 213
---------------------------------------------------------- V7 ----------------------------------------------------------
9293 found hvr - 89.45% of total potential
Average size of HVR: 71.42
Minimal size of HVR: 53
Maximal size of HVR: 282
---------------------------------------------------------- V8 ----------------------------------------------------------
No V8 found in this database
---------------------------------------------------------- V9 ----------------------------------------------------------
2987 found hvr - 28.75% of total potential
Average size of HVR: 85.12
Minimal size of HVR: 0
Maximal size of HVR: 207
--------------------------------------------------------- V12 ----------------------------------------------------------
3599 found hvr - 34.64% of total potential
Average size of HVR: 315.38
Minimal size of HVR: 270
Maximal size of HVR: 466
--------------------------------------------------------- V23 ----------------------------------------------------------
5723 found hvr - 55.09% of total potential
Average size of HVR: 389.17
Minimal size of HVR: 349
Maximal size of HVR: 515
--------------------------------------------------------- V34 ----------------------------------------------------------
9248 found hvr - 89.02% of total potential
Average size of HVR: 418.4
Minimal size of HVR: 396
Maximal size of HVR: 517
--------------------------------------------------------- V45 ----------------------------------------------------------
8956 found hvr - 86.21% of total potential
Average size of HVR: 374.63
Minimal size of HVR: 360
Maximal size of HVR: 516
--------------------------------------------------------- V56 ----------------------------------------------------------
9281 found hvr - 89.33% of total potential
Average size of HVR: 299.87
Minimal size of HVR: 146
Maximal size of HVR: 370
--------------------------------------------------------- V67 ----------------------------------------------------------
8809 found hvr - 84.79% of total potential
Average size of HVR: 259.59
Minimal size of HVR: 228
Maximal size of HVR: 317
--------------------------------------------------------- V78 ----------------------------------------------------------
8066 found hvr - 77.64% of total potential
Average size of HVR: 278.3
Minimal size of HVR: 249
Maximal size of HVR: 488
--------------------------------------------------------- V89 ----------------------------------------------------------
No V89 found in this database
--------------------------------- ANALYSIS OF HYPERVARIABLE REGIONS BY TAXONOMIC RANK ----------------------------------
------------------------------------------------------- KINGDOM --------------------------------------------------------
Total number of unique kingdom: 2
0 missing values - 0.0% of total
Total number of remaining kingdom with at least one V1 found: 1 - 50.0% of total number of groups
Total number of remaining kingdom with at least one V2 found: 1 - 50.0% of total number of groups
Total number of remaining kingdom with at least one V3 found: 1 - 50.0% of total number of groups
Total number of remaining kingdom with at least one V4 found: 2 - 100.0% of total number of groups
Total number of remaining kingdom with at least one V5 found: 1 - 50.0% of total number of groups
Total number of remaining kingdom with at least one V6 found: 1 - 50.0% of total number of groups
Total number of remaining kingdom with at least one V7 found: 1 - 50.0% of total number of groups
Total number of remaining kingdom with at least one V9 found: 2 - 100.0% of total number of groups
Total number of remaining kingdom with at least one V12 found: 1 - 50.0% of total number of groups
Total number of remaining kingdom with at least one V23 found: 1 - 50.0% of total number of groups
Total number of remaining kingdom with at least one V34 found: 1 - 50.0% of total number of groups
Total number of remaining kingdom with at least one V45 found: 1 - 50.0% of total number of groups
Total number of remaining kingdom with at least one V56 found: 2 - 100.0% of total number of groups

Total number of remaining kingdom with at least one V67 found: 1 - 50.0% of total number of groups
Total number of remaining kingdom with at least one V78 found: 2 - 100.0% of total number of groups
-------------------------------------------------------- PHYLUM --------------------------------------------------------
Total number of unique phylum: 46
0 missing values - 0.0% of total
Total number of remaining phylum with at least one V1 found: 28 - 61.0% of total number of groups
Total number of remaining phylum with at least one V2 found: 30 - 65.0% of total number of groups
Total number of remaining phylum with at least one V3 found: 35 - 76.0% of total number of groups
Total number of remaining phylum with at least one V4 found: 44 - 96.0% of total number of groups
Total number of remaining phylum with at least one V5 found: 37 - 80.0% of total number of groups
Total number of remaining phylum with at least one V6 found: 39 - 85.0% of total number of groups
Total number of remaining phylum with at least one V7 found: 35 - 76.0% of total number of groups
Total number of remaining phylum with at least one V9 found: 38 - 83.0% of total number of groups
Total number of remaining phylum with at least one V12 found: 36 - 78.0% of total number of groups
Total number of remaining phylum with at least one V23 found: 27 - 59.0% of total number of groups
Total number of remaining phylum with at least one V34 found: 38 - 83.0% of total number of groups
Total number of remaining phylum with at least one V45 found: 37 - 80.0% of total number of groups
Total number of remaining phylum with at least one V56 found: 39 - 85.0% of total number of groups
Total number of remaining phylum with at least one V67 found: 36 - 78.0% of total number of groups
Total number of remaining phylum with at least one V78 found: 42 - 91.0% of total number of groups
-------------------------------------------------------- CLASS ---------------------------------------------------------
Total number of unique class: 133
0 missing values - 0.0% of total
Total number of remaining class with at least one V1 found: 65 - 49.0% of total number of groups
Total number of remaining class with at least one V2 found: 70 - 53.0% of total number of groups
Total number of remaining class with at least one V3 found: 92 - 69.0% of total number of groups
Total number of remaining class with at least one V4 found: 118 - 89.0% of total number of groups
Total number of remaining class with at least one V5 found: 96 - 72.0% of total number of groups
Total number of remaining class with at least one V6 found: 105 - 79.0% of total number of groups
Total number of remaining class with at least one V7 found: 99 - 74.0% of total number of groups
Total number of remaining class with at least one V9 found: 99 - 74.0% of total number of groups
Total number of remaining class with at least one V12 found: 89 - 67.0% of total number of groups
Total number of remaining class with at least one V23 found: 65 - 49.0% of total number of groups
Total number of remaining class with at least one V34 found: 96 - 72.0% of total number of groups
Total number of remaining class with at least one V45 found: 102 - 77.0% of total number of groups
Total number of remaining class with at least one V56 found: 98 - 74.0% of total number of groups
Total number of remaining class with at least one V67 found: 100 - 75.0% of total number of groups
Total number of remaining class with at least one V78 found: 112 - 84.0% of total number of groups
-------------------------------------------------------- ORDER ---------------------------------------------------------
Total number of unique order: 244
0 missing values - 0.0% of total
Total number of remaining order with at least one V1 found: 132 - 54.0% of total number of groups
Total number of remaining order with at least one V2 found: 156 - 64.0% of total number of groups
Total number of remaining order with at least one V3 found: 183 - 75.0% of total number of groups
Total number of remaining order with at least one V4 found: 226 - 93.0% of total number of groups
Total number of remaining order with at least one V5 found: 190 - 78.0% of total number of groups
Total number of remaining order with at least one V6 found: 199 - 82.0% of total number of groups
Total number of remaining order with at least one V7 found: 197 - 81.0% of total number of groups
Total number of remaining order with at least one V9 found: 181 - 74.0% of total number of groups
Total number of remaining order with at least one V12 found: 167 - 68.0% of total number of groups
Total number of remaining order with at least one V23 found: 143 - 59.0% of total number of groups
Total number of remaining order with at least one V34 found: 195 - 80.0% of total number of groups
Total number of remaining order with at least one V45 found: 197 - 81.0% of total number of groups
Total number of remaining order with at least one V56 found: 199 - 82.0% of total number of groups
Total number of remaining order with at least one V67 found: 191 - 78.0% of total number of groups
Total number of remaining order with at least one V78 found: 213 - 87.0% of total number of groups
-------------------------------------------------------- FAMILY --------------------------------------------------------
Total number of unique family: 462
0 missing values - 0.0% of total
Total number of remaining family with at least one V1 found: 246 - 53.0% of total number of groups
Total number of remaining family with at least one V2 found: 314 - 68.0% of total number of groups
Total number of remaining family with at least one V3 found: 372 - 81.0% of total number of groups
Total number of remaining family with at least one V4 found: 436 - 94.0% of total number of groups
Total number of remaining family with at least one V5 found: 370 - 80.0% of total number of groups
Total number of remaining family with at least one V6 found: 382 - 83.0% of total number of groups
Total number of remaining family with at least one V7 found: 401 - 87.0% of total number of groups
Total number of remaining family with at least one V9 found: 345 - 75.0% of total number of groups
Total number of remaining family with at least one V12 found: 322 - 70.0% of total number of groups
Total number of remaining family with at least one V23 found: 295 - 64.0% of total number of groups
Total number of remaining family with at least one V34 found: 396 - 86.0% of total number of groups
Total number of remaining family with at least one V45 found: 377 - 82.0% of total number of groups
Total number of remaining family with at least one V56 found: 401 - 87.0% of total number of groups
Total number of remaining family with at least one V67 found: 374 - 81.0% of total number of groups
Total number of remaining family with at least one V78 found: 420 - 91.0% of total number of groups
-------------------------------------------------------- GENUS ---------------------------------------------------------
Total number of unique genus: 1754
0 missing values - 0.0% of total
Total number of remaining genus with at least one V1 found: 648 - 37.0% of total number of groups
Total number of remaining genus with at least one V2 found: 1167 - 67.0% of total number of groups
Total number of remaining genus with at least one V3 found: 1528 - 87.0% of total number of groups
Total number of remaining genus with at least one V4 found: 1669 - 95.0% of total number of groups
Total number of remaining genus with at least one V5 found: 1471 - 84.0% of total number of groups
Total number of remaining genus with at least one V6 found: 1515 - 86.0% of total number of groups
Total number of remaining genus with at least one V7 found: 1598 - 91.0% of total number of groups
Total number of remaining genus with at least one V9 found: 1043 - 59.0% of total number of groups
Total number of remaining genus with at least one V12 found: 903 - 51.0% of total number of groups
Total number of remaining genus with at least one V23 found: 1089 - 62.0% of total number of groups
Total number of remaining genus with at least one V34 found: 1605 - 92.0% of total number of groups
Total number of remaining genus with at least one V45 found: 1505 - 86.0% of total number of groups
Total number of remaining genus with at least one V56 found: 1595 - 91.0% of total number of groups
Total number of remaining genus with at least one V67 found: 1477 - 84.0% of total number of groups
Total number of remaining genus with at least one V78 found: 1628 - 93.0% of total number of groups
------------------------------------------------------- SPECIES --------------------------------------------------------
Total number of unique species: 4025
0 missing values - 0.0% of total
Total number of remaining species with at least one V1 found: 990 - 25.0% of total number of groups
Total number of remaining species with at least one V2 found: 2600 - 65.0% of total number of groups
Total number of remaining species with at least one V3 found: 3564 - 89.0% of total number of groups

Total number of remaining species with at least one V4 found: 3852 - 96.0% of total number of groups
Total number of remaining species with at least one V5 found: 3380 - 84.0% of total number of groups
Total number of remaining species with at least one V6 found: 3453 - 86.0% of total number of groups
Total number of remaining species with at least one V7 found: 3706 - 92.0% of total number of groups
Total number of remaining species with at least one V9 found: 1907 - 47.0% of total number of groups
Total number of remaining species with at least one V12 found: 1455 - 36.0% of total number of groups
Total number of remaining species with at least one V23 found: 2473 - 61.0% of total number of groups
Total number of remaining species with at least one V34 found: 3742 - 93.0% of total number of groups
Total number of remaining species with at least one V45 found: 3424 - 85.0% of total number of groups
Total number of remaining species with at least one V56 found: 3758 - 93.0% of total number of groups
Total number of remaining species with at least one V67 found: 3342 - 83.0% of total number of groups
Total number of remaining species with at least one V78 found: 3720 - 92.0% of total number of groups

In [93]:
joined_df = pd.merge(df, hvr_df, on='index', how='left')

In [98]:
local_df = joined_df[['kingdom', 'V2']].dropna(axis=0)

In [100]:
depth='kingdom'

In [102]:
local_df[depth]

0        BACTERIA
1        BACTERIA
13       BACTERIA
15       BACTERIA
16       BACTERIA
           ...
10384    BACTERIA
10385    BACTERIA
10386    BACTERIA
10387    BACTERIA
10388    BACTERIA
Name: kingdom, Length: 6092, dtype: object